*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

.main{
    width:100vw;
    height:100vh;
    background-image: url("./countdown-timer.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
.overlay{
    width:100%;
    height:100%;
    background-color:rgba(0, 0,0, 0.69);
    display:flex;
    flex-direction:column;
    /* justify-content:; */
    /* text-align:center; */
    align-items:center;

}
.col{
    display:flex;
    flex-direction: column;
    align-items: center;
     
}
.setw{
    display:flex;
/* border:2px solid red; */
    /* max-width:100%; */
    /* margin: 0 auto; */
}
input{
    width:60%;
    height:60px;
    text-align:center;
}
.title{
    font-size:2rem;
}